#lightSwitch {
	transform: scale(1.5);
}

.bg-light {
	background: var(--surface);
	color: var(--text) !important;
}

.bg-dark {
	background: var(--surface) !important;
	color: var(--text) !important;
}
